{% extends 'main/base.html' %}

{% block title %}
Обращение
{% endblock %}



{% block content %}
    <h1>О проекте </h1>
    <img class="fit-picture"
     src="https://lh3.googleusercontent.com/8GB8bf6sQIf9eZgyrYGciW87uFjarHbdnr9TySikCxM_ALx7Dcoy8STVmCfUfIj55APQ5KJC8L1-AeXMgHW05Ut7g4HUjnt5D_H_xQG9SjnzImjAUJ2yKiHv07Xr3pxfn7VsA8Q-sRNb10wCqa6DzqRNuOouXmNb5Jyw4lsabH8Yh3MjigJvCV0tqGbWwtwY8pz30TEQQhrAkkF7fwLZyZKTpiKwc4a0D1bkz0B6bJkEPjTm6FMhHnRJDpC08O7MmgZarKSjcZBTEpSQtRJS9tEPRyFXTG8cFCKiVjyhMP105pUt26O2rFVJAi7Ok5N1RHa8coMbFGf9rbcuQoURdf0IMax56065S66o0FlelKT__6W2sEA2_IIA2YB7qeGvaip8pv7aG13sWcDProFbBSgNELYbJDALzwWfwhBlcn_LM_pvU0n8uQlgXyjtUy1G0X0YGcn1d3wrXvA7UKarrucV1BiwMKNIPlQ8f57B245C3nbwS9vy7Md7T2RQ6X_qp6OFAUJ4nLbT0epQj19M8ufjmJbC6a5l65MgrD53on0lyKDoTr2f1d5BVHz2sZfMDDo4C04gJT9GzLVoAnVQUbdLnkPHxNtIZZvvcqUco3Y0F4g3xp2yfxX8o9WCs91ajYdUirlvxv3S14u_Z9g9u9pcy2d-RLcnYWzJVlrlRb61iJwFb9reyDWJvCyYk6BkYVrWVup71iHqCnSNpgtXMfoznIbj6vSs3mI9gdS-SWtoi_EjTIWYQpEhepXw=w658-h877-no?authuser=0" width="270" height="350">

<style>
   p.dline {
    line-height: 2.0;
   }

  </style>
        <p class="dline">
            <big>И всем приветик! Мои любимые друзья, здесь можно писать все: важные новости и события по отношению нашей безопасности, организация прогулок, срочные оповещения.
        Иногда буду удалять неактуальные посты.<br> <i><big>Узнал важную информацию? Сделай запись, что бы узнали все)</big></i> <br>Заранее извиняюсь за возможные неполадки сайта:)
            </big>
        </p>
{% endblock %}

